.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.container {
  display: flex;
}

.horizontal {
  flex-direction: row;
  gap: var(--spacing-md);
}

.vertical {
  flex-direction: column;
  gap: var(--spacing-sm);
}

.error {
  font-size: var(--font-size-sm);
  color: var(--color-error);
  text-align: center;
}
