.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.searchContainer {
  padding: 0;
}

.sections {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-xl);
}

.contactsSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: var(--spacing-lg);
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: var(--spacing-lg) var(--spacing-xl);
}
