.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter var(--transition-fast), opacity var(--transition-fast);
}

.inactive {
  filter: grayscale(100%);
  opacity: 0.7;
}

.active {
  filter: none;
  opacity: 1;
}
