.icon {
  display: inline-block;
  flex-shrink: 0;
  color: inherit;
  line-height: 1;
  vertical-align: middle;
}

/* Loader animation */
.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
